name: 'nginx-proxy'
services:
  nginx-proxy:
    # ucm: upstream_check_module
    image: '172.16.0.197:8083/tool/ucm-nginx:1.26.1.1-arm64'
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/arm64
    container_name: nginx-proxy
    restart: unless-stopped
    network_mode: bridge
#    user: "999:999"
    # 让 Docker 自动用内置的 QEMU 模拟器跑 amd64 镜像
    platform: linux/arm64
    entrypoint: >
      sh -c "
      chown -R 999:999 /etc/nginx/cert /etc/nginx/nginx.conf /etc/nginx/conf.d /var/log/nginx &&
      exec /usr/sbin/nginx -g 'daemon off;'
      "
    ports:
      - '80:80'
      - '443:443'
      - '1000:1000'
      - '18088:18088'
      - '5580:5580'
      - '81:81'
      - '8101:8101'
      - '83:83'
      - '84:84'
      - '85:85'
      - '86:86'
      - '88:88'
      - '89:89'
      - '90:90'
      - '90:90'
      - '96:96'
      - '98:98'
      - '6610:6610'
    volumes:
      - ./cert/:/etc/nginx/cert/
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./conf.d/:/etc/nginx/conf.d/
      - ./log:/var/log/nginx/
      # 添加静态资源挂载目录
      - /app/stc-auth-web/dist:/app/stc-auth-web/dist