name: 'nginx-proxy'
services:
  nginx-proxy:
    # ucm: upstream_check_module
    image: 'zqh2021/ucm-nginx:1.29.3.1'
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/arm64
    container_name: nginx-proxy
    restart: unless-stopped
    network_mode: bridge
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./cert/:/etc/nginx/cert/
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./conf.d/:/etc/nginx/conf.d/
      - ./log:/var/log/nginx/
      # 添加静态资源挂载目录
#      - /app/stc-auth-web/dist:/app/stc-auth-web/dist