name: 'nginx-proxy'
services:
  nginx-proxy:
    # ucm: upstream_check_module
    image: '172.16.0.197:8083/sungyism/tengine:latest'
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nginx-proxy
    restart: unless-stopped
    network_mode: bridge
    user: root
#    networks:
#      - mynet
    ports:
      - '80:80'
      - '443:443'

#networks:
#  mynet:
#    external: true  # 使用已创建的外部网络
## # 创建一个 attachable 的 bridge 网络
##docker network create --driver bridge --attachable mynet